<form action="/" method="POST">
<label>Student First Name: </label>
<input type="text" name="first_name" placeholder="Enter first name">
<label>Student Last Name: </label>
<input type="text" name="last_name" placeholder="Enter last name">
<label>Student Age: </label>
<input type="text" name="age" placeholder="Enter age">
<label>Student Gender: </label>
<input type="text" name="gender" placeholder="Enter gender">
<label>Student Email: </label>
<input type="text" name="email" placeholder="Enter Email">
<label>Student Number: </label>
<input type="text" name="num" placeholder="Enter number">
<input type="submit" value="Save">
</form>