
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
<a href="/">Students Index</a>
<a href="/new">New Student</a>
<a href="/trainers">Trainers Index</a>
<a href="/trainers/new">New Trainer</a>
</nav>