<div class="container">
	<nav class="navbar navbar-inverse bg-primary" id="nav">
		<a class="navbar-brand" href="/">Games Index</a>
		<a class="navbar-brand" href="/new">New Game Review</a>
	</nav>

</div>