	<% @games.each do |game| %>
		<div class="container">
			<div class="row">
				
				<h3>
					<a href="/<%= game[:id]%>"><%= game[:title]%></a>

				</h3>
					<p><%= game[:review]%></p>
			</div>
			
		</div>
	<% end %>
