<h3><%= @hero.title %></h3>
<p><%= @hero.description%></p>
<!-- <a href="/<%=@hero.id%>/edit">Edit</a> -->
<form action="/<%= @hero.id %>" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="DELETE">
</form>
<button id="show">dfkjd</button>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ejrwlkjkrkw;kergij
    </div>
  </div>
</div>
