<p id="notice"><%= notice %></p>

<h1>My Posts</h1>
<br>
<br>
<% @user.posts.each do |userpost|%>
 <h3> <%= userpost.title %></h3>
<p> <%= userpost.body %></p>
<a href="/users/myposts/<%= userpost.id%>">Show</a>
<% end %>





