<form action="/" method="POST">
	<label>Hero Name:</label>
	<input type="text" name="title" placeholder="Enter Hero name here">
	<label>Hero Description:</label>
	<textarea name="description" placeholder="Enter Hero description here"></textarea>
	<input type="submit" value="Add Hero">
	


</form>