<form action="/<%= @hero[:id]%>" method="POST">
<% if @hero.id != "" %>
	<input type="hidden" name="_method" value="PUT">
<% end %>
	<label>Hero Name:</label>
	<input type="text" name="title" placeholder="Enter Hero name here" value="<%= @hero.title%>">
	<label>Hero Description:</label>
	<textarea name="description" placeholder="Enter Hero description here"><%= @hero.description %></textarea>
	<input type="submit" value="Save">
</form>